[package]
name = "jail_exporter"
version = "0.14.0"
description = "Prometheus exporter for FreeBSD jails."
edition = "2018"
license = "MIT"
readme = "README.md"
homepage = "https://github.com/phyber/jail_exporter"
repository = "https://github.com/phyber/jail_exporter.git"
authors = [
    "David O'Rourke <david.orourke@gmail.com>",
]
keywords = [
    "exporter",
    "freebsd",
    "jail",
    "metrics",
    "prometheus",
]
exclude = [
    ".cirrus.yml",
    ".editorconfig",
    ".gitignore",
    ".rustfmt.toml",
    "Makefile",
    "grafana/jail_exporter.json",
    "man/jail_exporter.8",
    "rc.d/jail_exporter",
]

[features]
default = [
    "auth",
    "bcrypt_cmd",
    "rc_script",
]

# Enables HTTP basic authentication
auth = [
    "actix-web-httpauth",
    "bcrypt",
    "serde",
    "serde_yaml",
]

# Provides a bcrypt subcommand to assist with hashing passwords for
# authentication
bcrypt_cmd = [
    "bcrypt",
    "dialoguer",
    "rand",
]

# Adds a CLI option to dump out an rc(8) script, useful for users who install
# via `cargo install`.
rc_script = []

[dependencies]
askama = "0.10"
env_logger = "0.8"
jail = "0.1.1"
log = "0.4"
rctl = "0.1.0"
sysctl = "0.4"
tempfile = "3.1.0"
thiserror = "1.0"

[dependencies.actix-web]
version = "3.3.0"
default-features = false

[dependencies.actix-web-httpauth]
version = "0.5.0"
optional = true

[dependencies.bcrypt]
version = "0.9"
optional = true

[dependencies.clap]
version = "2.33"
default-features = false
features = ["vec_map"]

[dependencies.dialoguer]
version = "0.8"
optional = true

[dependencies.mime]
version = "0.3"
default-features = false

[dependencies.prometheus]
version = "0.12.0"
default-features = false

[dependencies.rand]
version = "0.8"
optional = true

[dependencies.serde]
version = "1.0"
optional = true

[dependencies.serde_yaml]
version = "0.8"
optional = true

[dependencies.users]
version = "0.11"
default-features = false
features = ["cache"]

[build-dependencies]
rustc_version = "0.3"

# Used by cargo test
[dev-dependencies]
actix-rt = "2.0"
indoc = "1.0"
lazy_static = "1.4"
pretty_assertions = "0.7"

[dev-dependencies.users]
version = "0.11"
default-features = false
features = ["mock"]
