[package]
name = "jail_exporter"
version = "0.13.0"
description = "Prometheus exporter for FreeBSD jails."
edition = "2018"
license = "MIT"
readme = "README.md"
homepage = "https://github.com/phyber/jail_exporter"
repository = "https://github.com/phyber/jail_exporter.git"
authors = [
    "David O'Rourke <david.orourke@gmail.com>",
]
keywords = [
    "exporter",
    "freebsd",
    "jail",
    "metrics",
    "prometheus",
]
exclude = [
    ".cirrus.yml",
    ".editorconfig",
    ".gitignore",
    ".rustfmt.toml",
    "Makefile",
    "grafana/jail_exporter.json",
    "man/jail_exporter.8",
    "rc.d/jail_exporter",
]

[features]
default = ["rcd"]

# Adds a CLI option to dump out an rc.d file, useful for users who install via
# `cargo install`.
rcd = []

[dependencies]
askama = "0.10"
env_logger = "0.8"
jail = "0.1.1"
log = "0.4"
rctl = "0.1.0"
tempfile = "3.1.0"
thiserror = "1.0"

[dependencies.actix-web]
version = "3.0"
default-features = false

[dependencies.clap]
version = "2.33"
default-features = false
features = ["vec_map"]

[dependencies.mime]
version = "0.3"
default-features = false

[dependencies.prometheus]
version = "0.10.0"
default-features = false

[dependencies.users]
version = "0.11"
default-features = false
features = ["cache"]

[build-dependencies]
rustc_version = "0.3"

# Used by cargo test
[dev-dependencies]
actix-rt = "1.0"
indoc = "1.0"
lazy_static = "1.4"
pretty_assertions = "0.6"

[dev-dependencies.users]
version = "0.11"
default-features = false
features = ["mock"]
