[package]
name = "jail_exporter"
version = "0.16.0"
description = "Prometheus exporter for FreeBSD jails."
edition = "2021"
license = "MIT"
readme = "README.md"
homepage = "https://github.com/phyber/jail_exporter"
repository = "https://github.com/phyber/jail_exporter.git"
rust-version = "1.56.1"
resolver = "2"
authors = [
    "David O'Rourke <david.orourke@gmail.com>",
]
keywords = [
    "exporter",
    "freebsd",
    "jail",
    "metrics",
    "prometheus",
]
exclude = [
    ".cirrus.yml",
    ".editorconfig",
    ".gitignore",
    ".rustfmt.toml",
    "Makefile",
    "grafana/jail_exporter.json",
    "man/jail_exporter.8",
    "rc.d/jail_exporter",
]

[features]
default = [
    "auth",
    "bcrypt_cmd",
    "rc_script",
]

# Enables HTTP basic authentication
auth = [
    "actix-web-httpauth",
    "bcrypt",
    "serde",
    "serde_yaml",
]

# Provides a bcrypt subcommand to assist with hashing passwords for
# authentication
bcrypt_cmd = [
    "bcrypt",
    "dialoguer",
    "rand",
]

# Adds a CLI option to dump out an rc(8) script, useful for users who install
# via `cargo install`.
rc_script = []

[dependencies]
env_logger = "0.9"
jail = "0.2.0"
log = "0.4"
rctl = "0.2.0"
sysctl = "0.4"
tempfile = "3.1.0"
thiserror = "1.0"

[dependencies.actix-web]
version = "4.0.1"
default-features = false
features = [
    "macros",
]

[dependencies.actix-web-httpauth]
version = "0.6.0"
optional = true

[dependencies.askama]
version = "0.11"
default-features = false

[dependencies.bcrypt]
version = "0.13.0"
optional = true

[dependencies.clap]
version = "3.2.8"
default-features = false
features = [
    "cargo",
    "env",
    "std",
]

[dependencies.dialoguer]
version = "0.10.0"
default-features = false
optional = true
features = ["password"]

[dependencies.prometheus]
version = "0.13.0"
default-features = false

[dependencies.rand]
version = "0.8"
optional = true

[dependencies.serde]
version = "1.0"
optional = true
features = [
    "derive",
]

[dependencies.serde_yaml]
version = "0.8"
optional = true

[dependencies.users]
version = "0.11"
default-features = false
features = ["cache"]

[build-dependencies]
rustc_version = "0.4"

# Used by cargo test
[dev-dependencies]
indoc = "1.0"
once_cell = "1.10.0"
pretty_assertions = "1.2.0"

[dev-dependencies.users]
version = "0.11"
default-features = false
features = ["mock"]
