[package]
name = "jail_exporter"
version = "0.9.11"
description = "Prometheus exporter for FreeBSD jails."
edition = "2018"
license = "MIT"
readme = "README.md"
homepage = "https://github.com/phyber/jail_exporter"
repository = "https://github.com/phyber/jail_exporter.git"
authors = [
    "David O'Rourke <david.orourke@gmail.com>",
]
keywords = [
    "exporter",
    "freebsd",
    "jail",
    "metrics",
    "prometheus",
]
exclude = [
    ".cirrus.yml",
    ".editorconfig",
    ".gitignore",
    ".rustfmt.toml",
    "Makefile",
    "man/jail_exporter.8",
    "rc.d/jail_exporter",
]

[dependencies]
askama = "0.8"
env_logger = "0.7"
failure = "0.1"
jail = "0.1.1"
log = "0.4"
rctl = "0.1.0"
tempfile = "3.1.0"

[dependencies.actix-web]
version = "1.0"
default-features = false

[dependencies.clap]
version = "2.32"
default-features = false
features = ["vec_map"]

[dependencies.mime]
version = "0.3"
default-features = false

[dependencies.prometheus]
version = "0.7"
default-features = false

[dependencies.users]
version = "0.9"
default-features = false
features = ["cache"]

# Used by cargo test
[dev-dependencies]
actix-http = "0.2"
indoc = "0.3"
lazy_static = "1.4"
pretty_assertions = "0.6"

[dev-dependencies.actix-http-test]
version = "0.2"
default-features = false

[dev-dependencies.users]
version = "0.9"
default-features = false
features = ["mock"]
